<%- include("partials/header"); -%>

<h1><%=title%></h1>
<p><%=content%></p>



<!-- <script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/script/box.js"></script>
<script src="/script/d3box.js"></script> -->

<div id="container" class="container-fluid text-center">
    <h5 id='title' style="color: #3B3B3B;"></h5>
    <div class="col-sm-2" >
        <input type="text" id="search-input"  placeholder="Search for names..">
<div class="list-group" id="tests-list">

 </div>
       <!-- <ul class="list-group"  id="testsList" ></ul> -->
    </div>
    <div class="col-sm-8">
       <div id="pointDistributions"></div>
    </div>
    <div class="col-sm-2">
       <div id="controls">
       </div>
    </div>
 </div>
<script src="/script/globalJs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.3/jstat.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bumbeishvili/d3-tip-for-v6@4/d3-tip.min.css">

<script src="/script/pDxcdf.js"></script>
<!-- <script src="/script/explodingCdfplot.js"></script> -->
<script src="/script/explodingBoxplot.js"></script>
<script src="/script/testsList.js"></script>
 <script>
stdf_loaded_json = stdf_loaded_json + "<%= testRecords %>";
const testName = 'ghijklmn:0:V0';
boxPlotFunctions.defaultDistribution('d3-tip', testName);
    // cdfPlotFunctions.defaultDistribution('d3-tip', testName);
    // cdfPlotFunctions.demoSetup();
    testsListFunction.popTestsList("CDF");
 </script>


<%- include("partials/footer"); -%>
